canvas {
    padding: 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.progress {
    margin: auto;
    position: absolute;
    top: 90px;
    left: 28rem;
    right: 28rem;
}

div#level-intro {
    padding: 1rem 2rem 0.25rem 2rem;
    background-color: rgba(159, 159, 159, 0.1);
}